<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">

    <type name="Magento\CatalogWidget\Block\Product\ProductsList">
        <plugin name="em_sort_catalogwidget"
                type="Elastomatic\SortCatalogWidget\Plugin\AfterCreateCollection" sortOrder="1"/>
    </type>
</config>